<section class="about-me" id="about">
    <h2 class="section__title section__title--about">Who I am</h2>
    <p class="section__subtitle section__subtitle--about">Front-end Developer from Hungary</p>

    <div class="about-me__body">
        <p>I was born on 25th March 1993 in Debrecen, Hungary.
          Following high school, I enrolled in a National Education program where I studied Telecommunication Informatics.
        </p>
        <p> I started my university education at the University of Debrecen, where I studied <b>Business Informatics</b> in 2015. During my studies, I took part in an<b> Erasmus course</b>, in Santarem, Portugal, and did an Internship in Birmingham (UK), as an Accommodation administrator at Newman University.
         Once I graduated graduation, I took part in a post grad internship as a <b>Front-end Web developer </b> at a company called South Tours in Malaga, Spain where I developed different websites using Html, CSS, Javascript or Wordpress.</p>
         <p>After returning to Hungary from Spain, I began working for Eniac Computing, an ERP system company, where my primary responsibilities include improving and maintaining the company's web application's front-end.
          </p>
         <p>I am interested in travelling, reading, nature, philosophy, sustainablity, healthy lifestyle and sports.
             I have tattoos about my thoughts &amp; principles
             </p>
             <p>
               Currently, I am looking for a dynamic and challenging role in Front-End Web Development in an international environment.
              </p>
         <p>

       <!--     <a href="/portfolio-item.html" class="about_me__link">Click Here To See My Portfolio</a> -->

         </p>
    </div>

    <img src="assets/img/about-me_.jpg" alt="In Portugal" class="about-me__img">

    <div class="btn__container">
      <a class="btn btn__lower" routerLink="/">Home</a>
      <a class="btn btn__lower" routerLink="/mywork">My Work</a>
     </div>

 </section>

