<app-intro ></app-intro >

<section class="my-services" id="services">
    <h2 class="section__title section__title--services">What I do</h2>






    <div class="services">
        <div class="service">
            <h3>Front-end Development</h3>
            <p>I love creating things that are visible, and has direct effect on others.
                That is why I chose Front-end Development,
                as I believe it is a good fit for me and allows me to put my skills to good use.

                Studied IT and programming from High School, and I studied Computer Science at the University of Debrecen, where I learnt programming languages such as Java, C, C++ etc. , Computer Logic, Database Management, Database Systems (SQL), Computer Network Architectures and Protocols and so on.
                My thesis was about Virtual Reality systems, using Blender and Unity.

            </p>
        </div> <!-- / service -->

        <div class="service">
            <h3>UX/UI</h3>
            <p>As I love creating visuals, I started making CMS websites at the age of 14, where I started to use Wordpress too.
                I learned how to use graphic design software like Photoshop and Gimp.
                I also learnt about Psychology on User Experience, How different colors affect on people, how to make a Websites easy to use.
                However, I am currently trying to improve my Figma skills in order to become a better Front-end developer, as I believe that being a Front-end Developer includes not only coding but also creating good User Interfaces.


                </p>
        </div> <!-- / service -->

        <div class="service">
            <h3>Other</h3>
            <p>
                During my studies, I learnt many business-related subjects such as Corporate Finance, Economics, SAP, SAS, Micro and Macroeconomics, Marketing,  Business Intelligence, Controlling, Financial Analysis, Statistics etc.
                I am also personally interested in Business and Marketing, always trying to learn even more with books, websites, and Youtube videos.
</p>
        </div> <!-- / service -->
    </div> <!-- / services -->


    <div class="btn__container">
        <a class="btn btn__lower" routerLink="/about">About me</a>
        <a class="btn btn__lower" routerLink="/mywork">My Work</a>
       </div>

</section>


